<h1>
    {{title}}
</h1>
<form class="form-horizontal" id="productNewForm" data-toggle="validator" action="/admin/users/edit" method="post">
    <div class="col-12">
        <div class="form-group">
            <label for="username" class="control-label">Name *</label>
            <input name="name" type="text" id="username" class="form-control" minlength="5" maxlength="200" value="" required/>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="useremail" class="control-label">E-Mail *</label>
            <input name="email" type="email" id="useremail" class="form-control" minlength="5" maxlength="200" value="" required/>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="userpassword" class="control-label">Password *</label>
            <input name="password" type="password" id="userpassword" class="form-control" minlength="5" maxlength="200" value="" required/>
        </div>
    </div>
    <div class="col-12">
        <button id="frm_edit_product_save" class="btn btn-primary btn-lg btn-block" type="submit">Add user</button>
    </div>
</form>
