<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <span class="navbar-brand col-sm-3 col-md-2 mr-0"><img id="brandtiny" src="/images/OneSmallStep_Oval.svg" alt="" style="height:29px; position:relative;top:-2px;left:-5px"> OneSmallStep</span>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Suchen" aria-label="Suchen">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/admin/logout"><span data-feather="log-out"></span> Log out</a>
        </li>
    </ul>
</nav>
