<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            {{#if session.customer.invalidloginpassword}}
                <div class="alert alert-danger" role="alert">
                    <h4>There was a problem</h4>
                    <p>
                        Your password is incorrect
                    </p>
                </div>
            {{/if}}
            <div class="border rounded" style="padding: 30px">
                <h1>Sign-In</h1>
                <form action="/customer/login/password/submit" method="post">
                    <p>
                        {{session.customer.email}} <small><a href="/customer/login">Change</a></small>
                    </p>
                    <div class="form-group">
                        <label for="password">Password</label><span><small>;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/customer/forgotpassword">Forgot your password</a></small></span>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>
