<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>
                You are now safely logged out
            </h1>
            <p>
                Your data is safe with us. You can register again at any time.
            </p>
            <ul>
                <li>
                    <a href="/customer/login">I would like to sign in again</a>
                </li>
                <li>
                    <a href="/">I would like to go to the homepage</a>
                </li>
            </ul>
        </div>
    </div>
</div>

