<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            {{#if session.customer.invalidregisteremail}}
                <div class="alert alert-danger" role="alert">
                    <h4>Email address already in use</h4>
                    <p>
                        You indicated you are a new customer,
                        but an account already exists with the e-mail {{session.customer.email}}
                    </p>
                </div>
                <div>
                    <h4>SAre you a returning customer?</h4>
                    <p>
                        <a href="/customer/login">Sign-In</a><br>
                        <a href="/customer/forgotpassword">Forgot your password?</a><br>
                    </p>
                    <h4>New to here?</h4>
                    <p>
                        Create a new account with a <a href="/customer/register">different e-mail address</a>
                    </p>
                    <h4>I want to try againI want to try again</h4>
                    <p>
                        Maybe a little alphabet confusion: <a href="/customer/register">Try again</a>
                    </p>
                    <h4>Still need help?</h4>
                    <p>
                        <a href="/customer/service">Contact Customer Service</a>.
                    </p>
                </div>
                <script>___eContainer.destroyCustomer=!0;</script>
            {{else}}
                <div class="border rounded" style="padding: 30px">
                    <h1>Create account</h1>
                    <form action="/customer/register/submit" id="form" method="post">
                        <div class="form-group">
                            <label for="firstname">Your first name</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Your first name" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Your name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="At least 6 characters" required>
                        </div>
                        <div class="form-group">
                            <label for="repeatpassword">Re-enter password</label>
                            <input type="password" class="form-control" id="repeatpassword" name="repeatpassword" placeholder="Re-enter password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Continue</button>
                    </form>
                    <div style="margin: 30px 0 0">
                        <p>
                            <small>
                                By continuing, you agree to our
                                <a href="/cou">Conditions of Use</a>
                                and
                                <a href="/privacy-note">Privacy Notice.</a>
                            </small>
                        </p>
                        <p>
                            <small>
                                Already have an account? <a href="/customer/lgoin">Sign-In</a>
                            </small>
                        </p>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>

<script>
    ___eContainer.validationCB = function() {
        let $form = $('#form');
        $(':submit', $form).on('click', function (e) {
            let inter = '';
            let valid = {
                id: '#'+$form.attr('id'),
                v: []
            };
            $('input', $form).each(function (v) {
                let $t = $(this);
                let name = $t.attr('name');
                let value = $t.val();
                if (/name/.test(name)) {
                    // Trim
                    value = value.toString().trim();
                    $t.val(value);
                    if (!/.{3,}$/.test(value)) {
                        valid.v.push({
                            name: name,
                            error: 'Enter more than 3 characters'
                        })
                    }
                }
                if (/^email$/.test(name)) {
                    // THX to https://emailregex.com/
                    value = value.toString().trim();
                    $t.val(value);
                    !/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value) && valid.v.push({
                        name: 'email',
                        error: 'Please enter a correct e-mail'
                    });
                }
                if (/^password$/.test(name)) {
                    inter = value;
                }
                if (/^repeatpassword$/.test(name)) {
                    inter != value && valid.v.push({
                        name: name,
                        error: 'Passwords must match'
                    });
                }
            });
            if (!!valid.v.length) {
                e.preventDefault();
                ___eContainer.validator.validFeedback(valid);
            }
        });
    };
</script>
