
<footer>
    <div class="frame default">
        <div class="container-fluid" id="footer">
            <div class="container hidden-xs">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="footer-headline">Spacecraft</p>
                        <ul class="list-unstyled">
                            <li class="footer-link-wrapper">
                                <a href="/saturn">Saturn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <p class="footer-headline">Lunar Rover</p>
                        <ul class="list-unstyled">
                            <li class="footer-link-wrapper">
                                <a href="/aroundtrip">A Trip</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <p class="footer-headline">Apollo Lunar Module</p>
                        <ul class="list-unstyled">
                            <li class="footer-link-wrapper">
                                <a href="/apllo-lunar-module">
                                    The Eagle Has Landed
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <p class="footer-headline">Contact</p>
                        <ul class="list-unstyled">
                            <li class="footer-link">OneSmallStep</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr>
                        <p class="text-center footer-bottem-text">© <script>document.write(new Date().getFullYear())</script> OneSmallStep</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
